<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.mb.exo_player">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <application>
        <service android:name="com.mb.exo_player.players.ForegroundAudioPlayer">

        </service>
    </application>
</manifest>
